*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
    background-color: #2d2a3d;
}



#container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{

    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;
}

.choise{

    display: flex;              /* isme humlog flex sirf border- radius ko dikhane ke liye kar rhe hai taki jab bhi hover ho wo ache se dikhe circle */
    justify-content: center;    /*   isliye humlog choise container img wle se thoda bada banae hai taki ache se border dikhe   */
    align-items: center;
    height:200px;
    width:200px;
    border-radius: 50%;
   
}

.choise:hover{
    opacity: 1;
    cursor:pointer;
    background-color: #CECECE;
}
img{
    opacity:0.9;
    height:180px;
    width:180px;
    object-fit:cover;  
    /* achi img aaegi      background-image:cover  */
    border-radius: 50%;

}


.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap:4rem;
    margin-top:20px;
    
}
.score{
    align-items: center;
    margin:10px;
}

#user-score , #comp-score {
    font-size: 2rem;
    font-weight: 500;
}

p{
    margin:10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.msgcontainer{
    margin:60px;

}
#msg{
    background-color:#f9844a;
border:1px solid black;
    color:#fff;
    display: inline;
    padding:0.8rem;
    border-radius: 10px;
}